<div data-spm="1997427645" class="tb-gallery" data-spm-max-idx="10">
    <div class="tm-brand"><em><a data-spm="d4918085" target="_blank" href="http://brand.tmall.com/brandInfo.htm?spm=a220o.1000855.1997427645.d4918085.n5vKFh&amp;brandId=335522261&amp;scm=1048.1.1.14" data-spm-anchor-id="a220o.1000855.1997427645.d4918085">UIUADA</a></em></div>
    <div class="tb-booth tb-pic tb-s440">
        <a href="http://www.taobao.com/view_image.php?spm=a220o.1000855.1997427645.2.n5vKFh&amp;pic=Wx0GGlFDXANRBh1fEUcSCAIPEhwWWl1eG1pSBl0fGwAcBVxRVx0cW1wwWgIEEwF/e19VYGsxKjIzNCs7GRUDHxwdFgk0HB8RFlNCVA==&amp;title=VUlVQURBsNm07sfpwsKzxMnAuPHX07PEycDUrbS0yei8xrOk0OS48c7GMjAxNLS617DH6cLC17C2wLzS&amp;version=2&amp;c=MjBlYzAzY2NiOWVkNWJmZmFlNzkzYWQwMDA3NDJhOTk%3D&amp;itemId=38833262829&amp;shopId=110562163&amp;sellerRate=56&amp;dbId=&amp;fv=9" rel="nofollow" target="_blank" data-spm-anchor-id="a220o.1000855.1997427645.2">
            <span class="zoomIcon">󰄬</span><span class="ks-imagezoom-wrap"><img id="J_ImgBooth" src="http://gi4.md.alicdn.com/imgextra/i4/2081689750/T254r4XNdXXXXXXXXX_!!2081689750.jpg_460x460q90.jpg" data-haszoom="700"><span style="position: absolute; top: 0.0047607421875px; left: 149.843022664388px; width: 161.33333333333334px; height: 161.33333333333334px; display: none;" class="ks-imagezoom-lens"></span></span>
        </a>
    </div>
    <ul id="J_UlThumb" class="tb-thumb tm-clear">
        <li class="tb-pic tb-s60">
            <a href="#" data-spm-anchor-id="a220o.1000855.1997427645.3"><img src="http://gi2.md.alicdn.com/bao/uploaded/i2/T1nra9FIlaXXXXXXXX_!!0-item_pic.jpg_60x60q90.jpg"></a>
        </li>
        <li class="tb-pic tb-s60 tb-selected">
            <a href="#" data-spm-anchor-id="a220o.1000855.1997427645.4"><img src="http://gi4.md.alicdn.com/imgextra/i4/2081689750/T254r4XNdXXXXXXXXX_!!2081689750.jpg_60x60q90.jpg"></a>
        </li>
        <li class="tb-pic tb-s60">
            <a href="#" data-spm-anchor-id="a220o.1000855.1997427645.5"><img src="http://gi1.md.alicdn.com/imgextra/i1/2081689750/T2Tfr2XUxXXXXXXXXX_!!2081689750.jpg_60x60q90.jpg"></a>
        </li>
        <li class="tb-pic tb-s60">
            <a href="#" data-spm-anchor-id="a220o.1000855.1997427645.6"><img src="http://gi1.md.alicdn.com/imgextra/i1/2081689750/T27JY3XQtXXXXXXXXX_!!2081689750.jpg_60x60q90.jpg"></a>
        </li>
        <li class="tb-pic tb-s60">
            <a href="#" data-spm-anchor-id="a220o.1000855.1997427645.7"><img src="http://gi2.md.alicdn.com/imgextra/i2/2081689750/T21jD2XQJXXXXXXXXX_!!2081689750.jpg_60x60q90.jpg"></a>
        </li>
    </ul>
    <p class="tm-action tm-clear">
        <span id="J_EditItem"><a href="http://archer.taobao.com/myservice/report/entry.htm?spm=a220o.1000855.1997427645.8.n5vKFh&amp;auction_num_id=38833262829&amp;display_type=3" target="_blank" data-spm-anchor-id="a220o.1000855.1997427645.8">举报</a></span>    <a id="J_IShare" class="iShare tm-event" href="#" data-spm-anchor-id="a220o.1000855.1997427645.9"><i></i>分享</a>
        <a id="J_AddFavorite" href="javascript:;" data-aldurl="http://ald.taobao.com/recommend.htm?appId=03136&amp;itemId=38833262829 " class="favorite" data-spm-anchor-id="a220o.1000855.1997427645.10"><i></i>收藏商品</a>
        <!-- ruleBanner-->
        <script id="J_AddFavorite_Act" type="text/template">
            <!--rullBanner ids:$ids true-->

        </script>
        <span id="J_CollectCount">9</span>
    </p>
</div>