<!-- start main -->
<div class="main_bg">
    <div class="wrap">
        <div class="">
            <!-- start content -->
            <div class="single">
                <!-- start span1_of_1 -->
                <div class="left_content">
                    <div af-article-view-gallery afdata="afdata.data.images"></div>
                    <div af-article-buyer-config-bloc afdata="afdata.data"></div>

                    <!-- start left content_bottom -->
                    <div af-article-description afdata="afdata.data"></div>
                    <!-- end left content_bottom -->
                </div>
            </div>
            <!-- end content -->
        </div>
    </div>
</div>