<!-- start main -->
<div class="main_bg">
    <div class="wrap">
        <div class="">
            <!-- start content -->
            <div class="single">
                <!-- start span1_of_1 -->
                <div class="left_content">
                    <div af-article-view-gallery afdata="afdata.images"></div>
                </div>
                <!--<div af-article-buyer-config-bloc afdata="afdata.items[1]"></div>
                <div af-html-content afdata="afdata.items[2]"></div>-->
            </div>
            <!-- end content -->
        </div>
    </div>
</div>