<div class="span1_of_1">
    <!-- start product_slider -->
    <div class="product-view">
        <div class="product-essential">
            <div class="product-img-box">
                <div class="more-views">
                    <div class="more-views-container">
                        <ul>
                            <li>
                                <a class="cs-fancybox-thumbs" data-fancybox-group="thumb" href="" title="" alt="">
                                    <img src="" src_main="" title="" alt=""/></a>
                            </li>
                            <li>
                                <a class="cs-fancybox-thumbs" data-fancybox-group="thumb" href="" title="" alt="">
                                    <img src="" src_main="" title="" alt=""/></a>
                            </li>
                            <li>
                                <a class="cs-fancybox-thumbs" data-fancybox-group="thumb" href="" title="" alt="">
                                    <img src="" src_main="" title="" alt=""/></a>
                            </li>
                            <li>
                                <a class="cs-fancybox-thumbs" data-fancybox-group="thumb" href="" title="" alt="">
                                    <img src="" src_main="" title="" alt=""/></a>
                            </li>
                            <li>
                                <a class="cs-fancybox-thumbs" data-fancybox-group="thumb" href="" title="" alt="">
                                    <img src="" src_main="" title="" alt=""/></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="product-image">
                    <a class="cs-fancybox-thumbs cloud-zoom"
                       rel="adjustX:30,adjustY:0,position:'right',tint:'#202020',tintOpacity:0.5,smoothMove:2,showTitle:true,titleOpacity:0.5"
                       data-fancybox-group="thumb" href="" title="" alt="">
                        <img src="" alt="" title=""/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- end product_slider -->
</div>

