<!-- start span1_of_1 -->
<div class="span1_of_1_des">
    <div class="desc1">
        <h3>{{afdata.title}}</h3>
        <h5>{{afdata.price}} <span>{{afdata.priceOrig}}</span></h5>

        <div class="btn_form">
            <form class="available" ng-submit="onSubmit()">
                Quantity : <input type="text" ng-model="formData.quantity"/><br/>
                <input type="submit" value="add to cart" title=""/>

            </form>
        </div>
    </div>
</div>
<div class="clear"></div>
